.criminalsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.criminal {
    border: 1px dotted rgb(255, 0, 0);
    padding: 10px;
    margin: 10px;
    flex: 15%;
}



.officersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.officer {
border: 1px dotted rgb(15, 30, 198);
padding: 10px;
margin: 10px;
flex: 15%;
}

.notesAside {
    float: right;
    display: flex;
    flex-direction: column;
}